@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Global properties ======================================================== */
body { 
	background: #f4f4f4;  
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px; 
	line-height:1.4615em;
	color:#444;
	min-width:1050px;
}
html, body { height:100%;}


p {padding-top:19px;}

a {
	color:#a4a4a4; 
	outline:none;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

.main-pad {
	padding-top:106px;
}
h1 {
	float:left;
	padding:31px 0 20px 6px;
}

h2 {
	font-size:34px;
	line-height:1.2307em;
	color:#000000;
	padding:0 0 0 0;
	font-family:"Times New Roman", Times, serif;
	font-weight:normal;
	padding:2px 0 23px 0
}
	.h2-pad {
		padding:38px 0 20px 0;
	}
	.h2-pad1 {
		padding-bottom:18px;
	}
	.h2-pad2 {
		padding:44px 0 24px 0;
	}
	.h2-pad3 {
		padding-bottom:18px
	}
	h2 span {
		display:block;
		margin-top:-10px;
	}

h3 {
	font-size:36px;
	line-height:1.2307em;
	color:#fff;
	font-family:"Times New Roman", Times, serif;
	padding:0 0 14px 0px;
	margin-left:-8px;
	font-weight:normal;
}
	h3 span {
		display:inline-block;
		padding:15px 0 0px 15px;
	}

h4 {
	font-size:20px;
	line-height:1.2307em;
	font-family: Arial, Helvetica, sans-serif;
	color:#4c4c4c;
	padding:16px 0 4px 0;
	font-weight:normal;
	text-transform:uppercase;
}

h5 {
	font-weight:normal;
	font-size:25px;
	line-height:1.2307em;
	color:#7b7b7b;
	padding:0 0 8px 0;
	font-family:"Times New Roman", Times, serif;
}

h6 {
	font-size:20px;
	line-height:1.2307em;
	color:#4c4c4c;
	text-transform:uppercase;
	font-family:"Times New Roman", Times, serif;
	font-weight:normal;
	padding:14px 0 2px 0
}

.img-pad {
	padding-top:5px;
}
/* Global Structure ============================================================= */
.main {
	margin: 0 auto;
	position: relative;
	width: 1042px;
	background:#000;
}

	/* Header */
	header{
		background: #dedede;
		position: relative;
		z-index: 2;
	}
	#page1 header {
		height:753px;
	}
	
	/* Content */
	section#content {
		background: #fff;
		width:100%;
		position:relative;
		float: left;
	}			
	/* Footer */
	footer{
		/*background:url(../images/footer-bg.gif) top center repeat; color: #ccc;*/
		background: #ccc; color: #333; 
		height:80px;	
		margin-top:44px;
		
	}
	footer a { color: #666; }
	.main-pad1 {
		padding-top:43px;
	}
	aside {
		padding-bottom:19px;
	}
/* Left & Right alignment */

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.col-1, .col-2, .col-3 { float:left;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { 
	width:100%;
	overflow:hidden;
	position: relative;
	z-index: 1;
}
/*----- form defaults -----*/
input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}

/*----- other -----*/
.img-indent { 
	margin:6px 20px 0 0; 
	float:left;
}
.extra-wrap { 
	width:100%;
	margin: 0 -41px;
	padding: 0 41px;
	background: #dedede;
}

/*===== header =====*/
.color {
	color:#858585;
}
.color1 {
	color:#000;
}
.slogan {
	float:right;
	width:284px;
	margin:64px 0 0 0;
	padding:4px 0px 4px 30px;
	border-left:3px solid #F2621E;
	font-size:22px;
	line-height:26px;
	color:#7a7a7a;	
	text-transform:uppercase;
	font-family: Arial, Helvetica, sans-serif;
}
	

nav {padding:0 10px 0px 10px; position:relative; z-index:4;}

.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	width:100%;
	clear:both;
}

.sf-menu li {
	float:left;
	font-size:15px;
	line-height:1.2307em;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
}
.sf-menu > li > a {
		display:block;
		padding: 24px 19px;
		text-decoration:none;
		/*color:#fff*/
		color: #666;
}
.sf-menu li li {	
	font-size:15px;
	line-height:2.4em;
	width:100%;
}
	.sf-menu li li a {	
		display:block;
		background:url(../images/li-bg.gif) left bottom repeat-x;
		margin:0 13px 0 15px;
		color:#fff;
	}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			100% !important; 
	display:none;
	background:#454545;
	padding:5px 0 5px 0
}
.sf-menu ul ul {
	position:		absolute;
	top:			-999em;
	display:none;
	background:#282828;
	width: 270px !important;
}

	.sf-menu li li a em {
		display:inline-block;
		background:url(../images/sf-menu-arrow.gif) left top no-repeat;
		height:7px;
		width:4px;
		position:absolute;
		top:15px;
		right:13px;
		z-index:5
	}
		.sf-menu li li li a {	
			display:block;
			background:url(../images/li-bg.gif) left bottom repeat-x;
			padding-left:4px;
		}
.sf-menu ul li {
	width:			100%;
	
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			65px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			100%; /* match ul width */
	top:			-5px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0px;
}

.sf-menu li.sfHover > a,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a.active {
	background:#fff;
	color:#f2621e;
}
	.sf-menu li li.sfHover > a,
	.sf-menu li li a:focus, .sf-menu li li a:hover, .sf-menu li li a.active {
		background:url(../images/li-bg.gif) left bottom repeat-x;
		color:#CCC;
		text-decoration:none;
	}
		.sf-menu li li li.sfHover > a,
		.sf-menu li li li a:focus, .sf-menu li li li a:hover, .sf-menu li li li a.active {
			
		}
.sf-menu .last a {
	background:none !important;
}


/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/sf-menu-arrow.gif') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}





































.slider {
	width:940px;
	height:488px;
	position:relative;
	margin:0 auto;
	z-index:1
}
.items {
	display:none;
	overflow:hidden;
}
.pagination {
	position:absolute;
	bottom:0px;
	left:410px;
	z-index:20;
	margin:0;
	padding:0;
}
.pagination li {
	float:left;
	margin-left:6px;
	font-size:0;
	line-height:0;
}
	.pagination li a {
		width:19px;
		height:19px;
		display:block;
		background:#6c6c6c;
	}
.pagination li.current a {
	background:#ffffff;
}
.banner {
	height:321px;
	position:absolute;
	color:#fff;
	top:0;
	width:300px;
	right:-30px;
	font-size:34px;
	line-height:38px;
	text-transform:uppercase;
	font-family:"Times New Roman", Times, serif;
	padding:128px 0 0 30px;
	z-index:11;
	background:url(img/bg-black-70.png) repeat !important;
}
	.banner a {
		display:inline-block;
		font-size:18px;
		line-height:1.2307em;
		text-transform:none;
		color:#fff;
		text-decoration:none;
		background:#000;
		padding:10px 20px 10px 20px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		left:97px;
		bottom:25px;
		position:absolute;
	}
		.banner a:hover {
			background:#1c1c1c
		}
		.banner em {
			padding-top:10px;
			display:block;
		}
		
.text {
	line-height:1.3846em;

}












/*===== content =====*/
.box {
	/*background:url(../images/box-bg.gif) left top repeat;*/
	/*color:#dbdbdb*/
	background: #fff;
	color: #444;	
}
.box-border {
	border-bottom:9px solid #fff;
}
.box-indent {
	padding:10px 20px 22px 26px;
}
	.box-link {
		display:inline-block;
		font-size:18px;
		line-height:1.2307em;
		text-transform:none;
		text-decoration:none;
		/*background:#555;
		color:#fff;*/
		background: #eee; color: #000;
		padding:10px 20px 10px 20px;
		margin-top:42px
	}
		.box-link:hover {
			/*background:#0b0c0c;*/
			background: #ccc;
			text-decoration:none;
		}
	

.indent {
	padding: 25px 0 44px 0;
}

.divider {
	background:url(../images/divider-bg.gif) 270px 0px repeat-y;
}
.divider1 {
	background:url(../images/divider-bg.gif) 670px 0px repeat-y;
}
.divider2 {
	background:url(../images/divider-bg.gif) 430px 0px repeat-y;
}
.divider3 {
	background:url(../images/divider-bg.gif) 619px 0px repeat-y;
}
.divider4 {
	background:url(../images/divider-bg.gif) 350px 0px repeat-y;
}


.banner-pad {
	padding-top:40px
}
.banner-pad1 {
	padding-top:60px
}


.grid_indent {
	padding-left:43px;
	padding-right: 25px;
}
.grid_indent1 {
	padding-right:35px;
}
.grid_indent2 {
	padding-right:20px;
}

.socials {
	
}
.socials a {
	display:inline-block;
	margin-right:13px;
}

.list {
	
}
	.list li {
		border-bottom:1px solid #e1e1cf;
		padding:0 0 18px 0;
		margin-bottom:17px;
	}
	.list li strong {
		font-weight:normal;
		font-size:25px;
		line-height:1.2307em;
		padding:0 0 10px 0;
		display:block;
		font-family:"Times New Roman", Times, serif;
		color:#78745f;
	}
	.list span {color:#000}
		.list li a {
			text-decoration:none;
			color:#858585;
		}
			.list li a:hover {
				color:#000;
			}
		.list .last {
			padding-bottom:0;
			margin:0;
			border:none;
		}
	.list.list-color li a {
		color:#000;
	}
		.list.list-color li a:hover {
			color:#858585;
		}

.link {
	display:inline-block;
	background:#434343;
	color:#fefbeb;
	font-size:18px;
	line-height:1.2307em;
	position:relative;
	margin-top:18px;
	padding:8px 20px 8px 20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}
	.link:hover {
		text-decoration:none;
		background:#656661
	}



.list1 li {
	background:url(../images/marker.gif) left 8px no-repeat;
	padding-left:17px;
	font-size:14px;
	line-height:1.5em;
	font-family:"Times New Roman", Times, serif;
	text-transform:uppercase;
}
.list1 li a {
	color:#858585;
}
	.list li a {
		text-decoration:none;
		color:#918c81;
	}
		.list li a:hover {
			color:#000;
		}



.pad {
	padding-top:22px;
}
.pad1 {
	padding-top:18px;
}
.pad2 {
	padding-top:24px;
}

.date {
	display:block;
	color:#000;
	padding-bottom:20px;
}
.border {
	clear: both;
	border-bottom:1px solid #dcdcdc;
	padding-bottom:24px;
	margin-bottom:20px
}
.col-1 {
	float:left;
	width:177px;
}

.number {
	display:block;
	width:59px;
	height:59px;
	background:#404040;
	text-align:center;
	padding:0 0 0 0;
	font-size:48px;
	line-height:1.2307em;
	overflow:hidden;
	font-family:"Times New Roman", Times, serif;
	margin:4px 19px 0 0;
	color:#fff;
	float:left;
}
/*--*/

.phone {
	display:inline-block;
	width: 170px;
}
.map-pad {
	padding-top:10px;
}
/*===== footer =====*/
footer {
	text-align:center;
}

.policy {
	padding:28px 0 0 0px;
	text-transform:uppercase;
	font-size:20px;
	line-height:1.2307em;
	color:#b6b6b6;
	font-family:"Times New Roman", Times, serif
}
	.policy a {
		text-decoration:none;
		color:#fff;
	}
		.policy a:hover {
			text-decoration:underline;
		}
	.policy span {
		display:inline-block;
		background:url(../images/footer-span-bg.gif) center top no-repeat;
		width:36px;
		height:35px;
		margin-top:-4px;
	}


/*----- forms -----*/
#signup-form {
	padding-top:4px;
}
	#signup-form fieldset {
		border:none;
	}
		#signup-form input {
			width:174px;
			padding:12px 5px 12px 10px;
			background:#fff;
			line-height:1.2307em;
			margin:7px 0 5px 0;
			border-top:1px solid #bababa;
			border-left:1px solid #bababa;
			border-right:1px solid #e6e6e6;
			border-bottom:1px solid #e6e6e6;
		}
#contact-form {
	vertical-align:top;	
	overflow:hidden;	
	padding-right:10px;
}
	#contact-form fieldset {
		border:none;
		}
		#contact-form .rowElem {	
			position:relative;
			min-height:79px;
			line-height:1.5em;
			outline:none;
			overflow:hidden;
			vertical-align:top;
			}
			#contact-form span {
				display:block;
				padding-bottom:5px;
			}
			#contact-form .textarea-box {
				position:relative;
			}
			#contact-form input {
				width:253px;
				padding:12px 5px 12px 10px;
				background:#fff;				
				border-top:1px solid #bababa;
				border-left:1px solid #bababa;
				border-right:1px solid #e6e6e6;
				border-bottom:1px solid #e6e6e6;
				font-size:13px;
				line-height:1.2307em;
				outline:none;
				position:relative;
				vertical-align:top;
				}
				#contact-form .link {
					margin:25px 20px 0 0px;
				}
				#contact-form .textarea-box {
					overflow:hidden;				
					position:relative;
					vertical-align:top;
				}
			#contact-form textarea {
				width:419px;
				height:108px;
				padding:10px 0px 0px 10px;
				background:#fff;
				overflow:auto;
				border-top:1px solid #bababa;
				border-left:1px solid #bababa;
				border-right:1px solid #e6e6e6;
				border-bottom:1px solid #e6e6e6;
				position:relative;
				}
				#contact-form label {
					padding:0px 0 2px 0px;
					font-size:11px;
					display:none;
				}
				#contact-form .link {
					margin:25px 15px 0 0 ;
				}
#contact-form .error {
				color:red;
			}

div#contact_form .download-box {
	padding:34px 0;
	text-align:center;
	background:#d9d6be;
	border:1px solid #000;
	color:#000;
	margin-right:60px;
	font-size:15px;
}
#back {
	display:inline-block;
	background:#000;
	padding:10px 16px 10px 16px;
	font-size:1em;
	line-height:1.2307em;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	margin-top:24px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
}
#back:hover {
	background:#333;
}

/*==========================================*/
    
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */

img { max-width: 100%; }

#designed-by { display: none; }

#home-text { padding: 0; }
#home-text h4 { font-size: 24px; margin-bottom: 12px; color: #000; font-family: BebasRegular, sans-serif; word-spacing: 2px; }
#home-text h4 + p { padding-top: .3em; }
#page_home .wrapper { margin: 0 12px; width: auto; }
#page_home article { width: 309px; margin: 0 1px 0 0; border: 1px solid #bbb; text-align: center; }
#page_home article .box { height: 450px; position: relative; }
#page_home article .alignright { position: absolute; right: 86px; bottom: 20px; }

#page_careers blockquote { height: 38px; }
#page_careers .blockquote { width: 100%; }

#network4 { float: left; width: 130px; margin-top: 24px; }
#network4 li li:hover { color: #F2621E; cursor: pointer; }
#network_map4 { float: right; width: 700px; height: 550px; background: url(../images/map-4.png); position: relative; margin-top: 24px; }
#network_map4 .country { position: absolute; }
#network_map4 .country > div { width: 34px; height: 28px; background: url(../images/map-pin-4.png); text-indent: -1000em; position: absolute; display: none; }

#network_map4 .china { width: 195px; height: 142px; background: url(../images/china-1.png); top: 102px; right: 179px; }
  #network_map4 .china.hover { background: url(../images/china-2.png); }
  #network_map4 .beijing { top: 30px; right: 20px; }
#network_map4 .india { width: 105px; height: 122px; background: url(../images/india-1.png); top: 173px; right: 277px; }
	#network_map4 .india.hover { background: url(../images/india-2.png); }
  #network_map4 .kolkata { top: 26px; right: 8px; }
	#network_map4 .kollam { top: 86px; right: 42px; }
	#network_map4 .mumbai { top: 40px; right: 59px; }
	#network_map4 .visakhapatnam { top: 54px; right: 21px; }
	#network_map4 .delhi { top: 11px; right: 52px; }
#network_map4 .singapore { width: 3px; height: 2px; background: url(../images/singapore.png); top: 325px; right: 238px; }
	#network_map4 .singapore-city { top: -26px; right: -23px; }
#network_map4 .ethiopia { width: 58px; height: 49px; background: url(../images/ethiopia-1.png); top: 267px; left: 189px; }
	#network_map4 .ethiopia.hover { background: url(../images/ethiopia-2.png); }
	#network_map4 .ethiopia > div { top: 3px; left: 16px; }
#network_map4 .benin { width: 12px; height: 27px; background: url(../images/benin-1.png); top: 277px; left: 69px; }
	#network_map4 .benin.hover { background: url(../images/benin-2.png); }
	#network_map4 .benin > div { top: -18px; left: -2px; }
#network_map4 .burkina-faso { width: 30px; height: 25px; background: url(../images/burkina-faso-1.png); top: 265px; left: 46px; }
	#network_map4 .burkina-faso.hover { background: url(../images/burkina-faso-2.png); }
	#network_map4 .burkina-faso > div { top: -12px; left: 5px; }
#network_map4 .ghana { width: 18px; height: 28px; background: url(../images/ghana-1.png); top: 282px; left: 53px; }
	#network_map4 .ghana.hover { background: url(../images/ghana-2.png); }
	#network_map4 .ghana > div { top: -11px; left: 2px; }
#network_map4 .guinea-bissau { width: 12px; height: 8px; background: url(../images/guinea-bissau-1.png); top: 276px; left: 4px; }
	#network_map4 .guinea-bissau.hover { background: url(../images/guinea-bissau-2.png); }
	#network_map4 .guinea-bissau > div { top: -24px; left: -2px; }
#network_map4 .ivory-coast { width: 25px; height: 28px; background: url(../images/ivory-coast-1.png); top: 284px; left: 32px; }
	#network_map4 .ivory-coast.hover { background: url(../images/ivory-coast-2.png); }
	#network_map4 .ivory-coast > div { top: -10px; left: 5px; }
#network_map4 .nigeria { width: 45px; height: 41px; background: url(../images/nigeria-1.png); top: 271px; left: 77px; }
	#network_map4 .nigeria.hover { background: url(../images/nigeria-2.png); }
	#network_map4 .nigeria > div { top: -5px; left: 10px; }
#network_map4 .senegal { width: 24px; height: 21px; background: url(../images/senegal-1.png); top: 257px; left: 1px; }
	#network_map4 .senegal.hover { background: url(../images/senegal-2.png); }
	#network_map4 .senegal > div { top: -17px; left: 2px; }
#network_map4 .togo { width: 9px; height: 23px; background: url(../images/togo-1.png); top: 281px; left: 65px; }
	#network_map4 .togo.hover { background: url(../images/togo-2.png); }
	#network_map4 .togo > div { top: -12px; left: -3px; }
#network_map4 .myanmar { width: 35px; height: 79px; background: url(../images/myanmar-1.png); top: 208px; right: 259px; }
	#network_map4 .myanmar.hover { background: url(../images/myanmar-2.png); }
	#network_map4 .myanmar > div { top: 6px; left: 8px; }
#network_map4 .thailand { width: 33px; height: 64px; background: url(../images/thailand-1.png); top: 242px; right: 239px; }
	#network_map4 .thailand.hover { background: url(../images/thailand-2.png); }
	#network_map4 .thailand > div { top: -4px; left: 5px; } 
#network_map4 .vietnam { width: 35px; height: 64px; background: url(../images/vietnam-1.png); top: 230px; right: 222px; }
	#network_map4 .vietnam.hover { background: url(../images/vietnam-2.png); }
	#network_map4 .vietnam > div { top: 23px; left: 21px; }
#network_map4 .indonesia { width: 172px; height: 70px; background: url(../images/indonesia-1.png); top: 307px; right: 102px; }
	#network_map4 .indonesia.hover { background: url(../images/indonesia-2.png); }
	#network_map4 .indonesia > div { top: 24px; left: 34px; }
#network_map4 .sri-lanka { width: 7px; height: 14px; background: url(../images/sri-lanka-1.png); top: 290px; right: 326px; }
	#network_map4 .sri-lanka.hover { background: url(../images/sri-lanka-2.png); }
	#network_map4 .sri-lanka > div { top: -18px; left: -8px; }

#network { width: 700px; height: 624px; background: url(../images/map-3.png); position: relative; margin: 30px auto 0; }
#network > li { width: 47px; height: 62px; position: absolute; background: url(../images/map-pin-2.png); }
#network > li:hover > div { display: block; }
#network div { display: none; position: absolute; width: 90px; top: -10px; left: 55px; background: #000; background: rgba(0,0,0,0.8); color: #fff; padding: 15px; border-radius: 3px; }
#network h6 { padding: 0; color: #fff; }

#language-picker { position: absolute; top: 5px; right: 15px; font-size: 11px; }
#language-picker a { color: #9bdaee; }

#about-us-dropdown { width: 200px !important; }
#product-dropdown { width: 320px !important; }
#processing-factories-dropdown { width: 280px !important; }
#careers-dropdown { width: 200px !important; }
#awards-dropdown { width: 385px !important; }

#google-map { height: 300px; }

#page_home header { padding-bottom: 20px;	}

#mySideNav { float: left; width: 220px; }
#mySideNav h4, h4.alt { padding: 6px 0 6px; font: bold 14px/18px Arial, Helvetica, sans-serif; color: #666; }
#mySideNav ul { font: 13px/18px Arial, Helvetica, sans-serif; }
#mySideNav a { display: block; padding: 5px 0; border: 0 solid #e1e1e1; border-bottom-width: 1px; color: #666; }
#mySideNav a:hover { text-decoration: none; }
#mySideNav ul ul a { padding-left: 10px; font-size: 11px; color: #a4a4a4; }

#myContent { margin-left: 260px; }

.product-category a { float: left; width: 150px; margin: 12px 8px; text-align: center; font-weight: bold; padding: 1px; color: #333; }
.product-category a:hover { border-color: #333; text-decoration: none; color: #000; }
.product-category img { display: block; margin-bottom: 5px; }


.banner { font: 17px/20px Arial, Helvetica, sans-serif; text-transform: none; background: url(../images/bg-black-70.png); }
.banner .inner { display: block; width: 250px; text-align: center; }
.banner .banner-header { display: block; margin-bottom: 12px; font: 28px/32px arial, sans-serif; }
.banner .banner-header.alt { font-weight: bold; font-family: BebasRegular, sans-serif; word-spacing: 4px; }

.cycle-banner { width: 340px; height: 170px; position: relative; margin: 0 auto; }
.cycle-banner img { position: absolute; top: 0; left: 0; }

.main { /*background-color: #77787b;*/ background: #dedede; }
.slogan { width: 210px; color: #666; text-align: center; margin: 60px 0 0; font: italic 24px/30px BebasRegular, sans-serif; }
.home-heading { font-family: georgia, serif; text-transform: none; font-weight: bold; font-size: 22px; padding-bottom: 12px; }

header .wrapper { height: 140px; margin: 0 -41px !important; padding: 0 32px 0 50px; background: #fff; }
  #page-home header .wrapper { padding: 0 50px; }
footer .wrapper { padding-top: 10px; }

.core-values-block { color: #fff; font: 12px/16px Arial, Helvetica, sans-serif; position: relative; margin-top: 24px; }
  #core-values { height: 404px; }
	#strengths { height: 464px; height: 560px; }
.core-values-block h4 { color: #fff; font: 20px/22px BebasRegular, Arial, Helvetica, sans-serif; text-transform: none; padding: 34px 10px 5px 10px; text-align: center; }
  #strengths h4 { font-size: 18px; padding-top: 14px; }
.core-values-block > div { position: absolute; height: 200px; }
  #core-values > div { width: 338px; }
/*
	#strengths > div { width: 223px; height: 230px; }
	#strengths .top-middle { top: 0; left: 227px; width: 226px; }
	#strengths .bottom-middle { bottom: 0; left: 227px; width: 226px; } */
	#strengths > div { width: 338px; height: 185px; }
	#strengths .middle-left, #strengths .middle-right { top: 189px; }
	#strengths .middle-left { left: 0; }
	#strengths .middle-right { right: 0; }
	#strengths .bottom-left, #strengths .bottom-right { top: 378px; }

#core-values p { padding: 6px 26px 0; }

.core-values-block p { padding: 6px 66px 0; text-align: center; /*display: none; */}
  #strengths p { padding: 6px 17px; }
.core-values-block .title { border: 4px solid #fff; position: absolute; color: #333; z-index: 1; width: 130px; font: bold 24px/28px Arial, Helvetica, sans-serif; padding: 12px 0; margin: 0; display: none; }
  #core-values .title { top: 157px; left: 270px; }
	#strengths .title { top: 202px; left: 190px; font-size: 18px; line-height: 20px; padding: 16px; width: 260px; font-size: 25px; }

.elastic-box-container { color: #fff; }
.elastic-box { width: 337px; height: 170px; float: left; overflow: hidden; position: relative; margin-bottom: 6px; }
  .elastic-box.right { float: right; }
	.elastic-box.agro    { background-image: url(../images/elastic-agro.jpg); }
	.elastic-box.sulphur { background-image: url(../images/elastic-sulphur.jpg); }
	.elastic-box.steel   { background-image: url(../images/elastic-steel.jpg); }
	.elastic-box.others  { background-image: url(../images/elastic-others.jpg); }	
.elastic-box > div { padding: 10px; }
.elastic-box h4 { color: #fff; padding: 0; font-size: 16px; text-transform: none; }
.elastic-box h6 { padding: 0; margin: 0 0 6px; font: bold 11px/16px Arial, Helvetica, sans-serif; color: #fff; }
.elastic-box .description { width: 280px; padding-top: 8px; }
.elastic-box .aside-right { padding-right: 0; position: absolute; top: 0; right: -200px; width: 190px; height: 100%; font: 11px/16px Arial, Helvetica, sans-serif; background: url(../images/bg-black-60.png); }
.elastic-box .aside-right li { padding-left: 10px; background: url(../images/bullet-1.png) no-repeat left center; }
.elastic-box .aside-right a:hover { text-decoration: none; }
.elastic-box .main-content { overflow: hidden; height: 20px; background: url(../images/bg-black-70.png); width: 500px; }

.blockquote-container { position: relative; z-index: 1; width: 100% !important; }
.blockquote { color: #fff; }
.blockquote .inner1 { padding: 10px 0 0 45px; background: url(../images/doublequote-open-white.png) no-repeat 15px 10px; }
.blockquote .inner2 { position: relative; margin: 0 12px; padding-bottom: 12px; background: url(../images/doublequote-close-white.png) no-repeat 852px 25px; }
.blockquote blockquote { margin-right: 32px; }
/*.blockquote.item0 { color: #00487c;
background: #d1ebff;
background: -moz-linear-gradient(top,  #d1ebff 0%, #eff8ff 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1ebff), color-stop(100%,#eff8ff)); 
background: -webkit-linear-gradient(top,  #d1ebff 0%,#eff8ff 100%); 
background: -o-linear-gradient(top,  #d1ebff 0%,#eff8ff 100%); 
background: -ms-linear-gradient(top,  #d1ebff 0%,#eff8ff 100%); 
background: linear-gradient(to bottom,  #d1ebff 0%,#eff8ff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ebff', endColorstr='#eff8ff',GradientType=0 ); 
.blockquote.item0 .inner1 { background-image: url(../images/doublequote-open-blue.png); }
.blockquote.item0 .inner2 { background-image: url(../images/doublequote-close-blue.png); }
.blockquote.item1 { background-color: #ffd7c5; color: #a83400;
background: #ffebe2;
background: -moz-linear-gradient(top,  #ffebe2 0%, #fff3ef 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffebe2), color-stop(100%,#fff3ef)); 
background: -webkit-linear-gradient(top,  #ffebe2 0%,#fff3ef 100%); 
background: -o-linear-gradient(top,  #ffebe2 0%,#fff3ef 100%); 
background: -ms-linear-gradient(top,  #ffebe2 0%,#fff3ef 100%); 
background: linear-gradient(to bottom,  #ffebe2 0%,#fff3ef 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebe2', endColorstr='#fff3ef',GradientType=0 ); 
.blockquote.item1 .inner1 { background-image: url(../images/doublequote-open-orange.png);  }
.blockquote.item1 .inner2 { background-image: url(../images/doublequote-close-orange.png); }
}*/

.top-left { top: 0; left: 0; }
.top-right { top: 0; right: 0; }
.bottom-left { bottom: 0; left: 0; }
.bottom-right { bottom: 0; right: 0; }

.light-header { font: bold 14px/19px Arial, Helvetica, sans-serif; }
.text-big-1 { font-size: 15px; line-height: 21px; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }
.pictureColumn { float: left; width: 280px; }
.pictureColumn img { display: block; margin-bottom: 10px; }
.contentColumn { margin-left: 300px; }
.myContainer { background: #fff; padding: 15px; margin: 0 !important; }	
.product-img { float: left; margin: 0 15px 15px 0; }
.half-separator { padding-top: 24px; margin: 0 auto 12px; clear: both; width: 50%; background: url(../images/dot-1.png) repeat-x left bottom; }
.shadow { box-shadow: 0 0 4px #333; }

.list3 { margin: 0; padding: 0; list-style: none; }
.list2 li { background:url(../images/marker.gif) left 8px no-repeat; padding-left: 17px; }
.list2 .selected a { color: #F2621E; }
.list-default { margin: 1em 0 1em 2.5em; list-style: disc; }

.nudge-down { position: relative; top: .1em; }

.black { color: #000; }
.white { color: #fff; }
.red { color: #CA0505; }
.orange, #mySideNav h4.selected, #mySideNav a.selected, #mySideNav a.selected:hover, .elastic-box .aside-right a:hover, #network4 li.hover, .sub-nav.cashew-processing .selected { color: #F2621E; }
.cyan,  #mySideNav a:hover { color: #9bdaee; }

.bg-blue, .blockquote.item0 { /*background-color: #22a4ff;*/ background-color: #50aff2; }
.bg-orange, .blockquote.item1,
	.box-with-3-divisions > div,
	.about-vision-mission > div { /*background-color: #ff7d42;*/ background-color: #f28755; }
.bg-gray1 { background-color: #eee; color: #444; } .bg-gray1 * { color: #444 !important; }

.grad-blue {
background: #3fb0ff;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3fb0ff), color-stop(100%,#0082dd)); 
background: -webkit-linear-gradient(top,       #3fb0ff 0%,#0082dd 100%); 
background:      -o-linear-gradient(top,       #3fb0ff 0%,#0082dd 100%); 
background:     -ms-linear-gradient(top,       #3fb0ff 0%,#0082dd 100%); 
background:    -moz-linear-gradient(top,       #3fb0ff 0%, #0082dd 100%); 
background:         linear-gradient(to bottom, #3fb0ff 0%,#0082dd 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fb0ff', endColorstr='#0082dd',GradientType=0 ); 
}
.grad-orange {
background: #ff905d;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff905d), color-stop(100%,#df5a1c)); 
background: -webkit-linear-gradient(top, #ff905d 0%,#df5a1c 100%); 
background:      -o-linear-gradient(top, #ff905d 0%,#df5a1c 100%); 
background:     -ms-linear-gradient(top, #ff905d 0%,#df5a1c 100%); 
background:    -moz-linear-gradient(top, #ff905d 0%,#df5a1c 100%); 
background: linear-gradient(to bottom,   #ff905d 0%,#df5a1c 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff905d', endColorstr='#df5a1c',GradientType=0 ); 
}
.grad-green {
background: #14c74a;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14c74a), color-stop(100%,#00b336)); 
background: -webkit-linear-gradient(top,  #14c74a 0%,#00b336 100%); 
background:      -o-linear-gradient(top,  #14c74a 0%,#00b336 100%); 
background:     -ms-linear-gradient(top,  #14c74a 0%,#00b336 100%); 
background:    -moz-linear-gradient(top,  #14c74a 0%,#00b336 100%); 
background: linear-gradient(to bottom,    #14c74a 0%,#00b336 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14c74a', endColorstr='#00b336',GradientType=0 ); 
}
.grad-purple {
background: #6b26d3;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b26d3), color-stop(100%,#5712bf)); 
background: -webkit-linear-gradient(top, #6b26d3 0%,#5712bf 100%); 
background:      -o-linear-gradient(top, #6b26d3 0%,#5712bf 100%); 
background:     -ms-linear-gradient(top, #6b26d3 0%,#5712bf 100%); 
background:    -moz-linear-gradient(top, #6b26d3 0%,#5712bf 100%); 
background: linear-gradient(to bottom,   #6b26d3 0%,#5712bf 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b26d3', endColorstr='#5712bf',GradientType=0 ); 
}
.grad-cyan {
background: #9ae1e9;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ae1e9), color-stop(100%,#86cdd5)); 
background: -webkit-linear-gradient(top, #9ae1e9 0%,#86cdd5 100%); 
background:      -o-linear-gradient(top, #9ae1e9 0%,#86cdd5 100%); 
background:     -ms-linear-gradient(top, #9ae1e9 0%,#86cdd5 100%); 
background:    -moz-linear-gradient(top, #9ae1e9 0%,#86cdd5 100%); 
background: linear-gradient(to bottom,   #9ae1e9 0%,#86cdd5 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ae1e9', endColorstr='#86cdd5',GradientType=0 ); 
}
.grad-grey {
background: #dddddd;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#bbbbbb)); 
background: -webkit-linear-gradient(top, #dddddd 0%,#bbbbbb 100%); 
background:      -o-linear-gradient(top, #dddddd 0%,#bbbbbb 100%); 
background:     -ms-linear-gradient(top, #dddddd 0%,#bbbbbb 100%); 
background:    -moz-linear-gradient(top, #dddddd 0%,#bbbbbb 100%); 
background: linear-gradient(to bottom,   #dddddd 0%,#bbbbbb 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#bbbbbb',GradientType=0 ); 	
}

.half-left { float: left; width: 49%; }
.half-right { float: right; width: 49%; }

.float-left { float: left; }
.float-right { float: right; }
.clear-both { clear: both; }

img.float-left { margin: 0 10px 10px 0; }
img.float-right { margin: 0 0 10px 10px; }

.margin-top { margin-top: 19px; }
.margin-bottom { margin-bottom: 19px; }
.margin-right { margin-right: 10px !important; }

.padding0 { padding: 0; }
.padding-top { padding-top: 19px; }

address { font-style: normal; }
h1 { padding: 15px 0 0; }
h1 a { display:block; width: 286px;	height: 108px; }
h2 { font: 26px/32px BebasRegular, Arial, Helvetica, sans-serif; padding-bottom: 6px; color: #333; margin-bottom: 6px; word-spacing: 4px; }
h3 { font: 20px/26px BebasRegular, Arial, Helvetica, sans-serif; padding-bottom: 6px; padding-left: 8px; color: #333; margin-bottom: 6px; word-spacing: 4px; }
h4 { font: 17px/20px BebasRegular, Arial, Helvetica, sans-serif; padding-bottom: 6px; color: #333; margin-bottom: 6px; word-spacing: 4px; }

blockquote cite { display: block; margin-top: 8px; }

.myTable { background-color:#eee;border-collapse:collapse;table-layout:fixed; }
.myTable th { background-color:#000;color:white;width:whatever%; }
.myTable td, .myTable th { padding:5px;border:1px solid #000; }

small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }


.box-with-3-divisions { display: flex; justify-content: space-between; margin-top: .8em; color: #fff; }
.box-with-3-divisions > div { width: calc(33.3333% - 0.66667px); padding: 1.2em 0 1em; }

.floating-sidebar { position: fixed; right: 0; top: 50%; margin-top: -64px; padding: .5em; background: #ddd; }
.floating-sidebar img { display: block; width: 32px; }

.about-vision-mission { display: flex; justify-content: space-between; color: #fff; text-align: center; margin-top: 1em; }
.about-vision-mission > div { width: 49.5%; padding: 1em; box-sizing: border-box; }
.about-vision-mission .heading { color: #fff; }
.about-vision-mission p { padding: 0; }

.our-responsibilities { display: flex; justify-content: space-between; margin-top: 2em; }
.our-responsibilities > div { width: 32%; box-sizing: border-box; padding: 1.5em; background: #f28755; color: #fff; }
.our-responsibilities .heading { text-align: center; padding-top: 0; margin-top: 0; color: #fff; }

.sub-nav.cashew-processing { margin: 1.5em 0; font-size: 1.3em; background: url(../images/sub-nav_cashew-processing.png) no-repeat left bottom / 100% auto; text-align: center; height: 3em; }
.sub-nav.cashew-processing > li { float: left; width: 20%; }
.sub-nav.cashew-processing .selected { font-weight: 700; }

.sub-nav.cashew-processing.step-1 { background-image: url(../images/sub-nav_cashew-processing_1.png); }
.sub-nav.cashew-processing.step-2 { background-image: url(../images/sub-nav_cashew-processing_2.png); }
.sub-nav.cashew-processing.step-3 { background-image: url(../images/sub-nav_cashew-processing_3.png); }
.sub-nav.cashew-processing.step-4 { background-image: url(../images/sub-nav_cashew-processing_4.png); }
.sub-nav.cashew-processing.step-5 { background-image: url(../images/sub-nav_cashew-processing_5.png); }

.form label { display: block; margin: 1em 0; }
.form .label { display: inline-block; width: 13em; }
.form select,
	.form input,
	.form textarea { padding: .5em 1em; width: 20em; box-sizing: border-box; border: 1px solid #999; }
.form textarea { height: 6em; }
.form .send { width: 10em; }
.form .phone1 { display: none; }

.network-highlight .value { display: block; font-size: 2em; line-height: 0.7; }

.cert-gallery img { height: 200px; }

.retail-cashew { }
.retail-cashew img { float: left; }
.retail-cashew .text { padding-top: 4em; }

.picture-container img { margin-bottom: .5rem; }
.picture-container.peeling { float: right; width: 220px; margin: 0 0 1em 2em; }

.picture-container.grading { width: 500px; margin: 1em auto; }
.picture-container.grading .one { float: left; width: 120px; }
.picture-container.grading .two { float: right; width: 367px; }
.picture-container.grading .three { float: left; width: 227px; }
.picture-container.grading .four { float: right; width: 263px; }

.membership-list { display: flex; flex-wrap: wrap; text-align: center; }
.membership-list > li { margin-bottom: 2em; width: 33.33%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; }
.membership-list img { max-width: 120px; max-height: 100px; display: block; }
.membership-list .text { width: 90%; }